#metaModel {
    height: 100% !important;
    width: 80% !important;
    margin: auto !important;
}

.main-header .navbar{
	background-color: #D0EFB1 !important;
}

.main-header>.logo {
	background-color: #B3D89C !important;
	font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 16px;
}

#uulogo {
	display: table;
	margin: 0 auto;
	padding-top: 20px;
}

#uulogo img{
 	width: 150px;
}

.content-wrapper, .right-side {
	overflow-y: auto;
	max-height: 600px;
}

.box {
	border-top-color: #9DC3C2 !important;
}

.mainBox .box,
.nav-tabs-custom>.nav-tabs>li.active {
	border-top-color: #ffd400 !important;
}
.shiny-input-container {
  color: #474747;
}
.box.box-solid.box-primary>.box-header {
  color:#fff;
  background:#666666
                    }

.box.box-solid.box-primary{
border-bottom-color:#666666;
border-left-color:#666666;
border-right-color:#666666;
border-top-color:#666666;
}
.my_table_aa01 .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
                                                border-collapse: collapse;
                                                }

                                                .my_table_aa01 th {
                                                 border: 1px solid black !important;
                                                 text-align: center !important;
                                                 vertical-align: middle !important;
                                                 color: white !important;
                                                 background-color: #615858 !important;
                                                 white-space: nowrap;
                                                 border-bottom: none}

                                                .my_table_aa01 td {padding: 1rem;
                                                border: 1px solid black;}

                                                .my_table_aa01 tr:first-child {
                                                  border : 1px solid black;
                                                 border-top: 1px solid black;}

                                                 .my_table_aa01 tr:nth-child(even){
                                                 background-color: #afd19d;
                                                 color: black;
                                                 font-size:16px;}

                                                 .my_table_aa01 tr:nth-child(odd){
                                                 background-color: white;
                                                 color: black;
                                                 font-size:16px;
                                                 }